@page "/SignIn"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JSRuntime;

<h3>SignIn</h3>
<div>
    <div id="btnGoogleSignIn"></div>
</div>
    

@code {
    private bool _isRendered = false;
    protected override async Task OnAfterRenderAsync(bool firstRender){
        if(firstRender){
            _isRendered = true;
            object[] args = new object[0];
            await JSRuntime.InvokeVoidAsync("GoogleSignIn", args);
        }
    }


}
